html{
  font-size: 18px;
}

body{
  font-family: Helvetica;
  line-height: 1.4;
}

/*Site Header Styling*/

header{
  background-image: url("../images/glasses-bg.png");
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container{
  width: 960px;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.banner{
  background-color: cadetblue;
  position: relative;
  top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.sitename{
  display: flex;
  align-items: center;


}

.sitename img{
  margin-left: 2rem;
  height: 1.5rem;
}

.sitename .name{
  margin-left: 1rem;
}

ul{
display: flex;
justify-content: flex-end;
align-items: center;
}

li{
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.headline-container{
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.headline{
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  display: flex;
  justify-content: flex-end;
}

.headline span{
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  color: black;
}

/*Site Body Styling*/

.toprow{
  margin: auto;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

.service{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}

.image img{
  width: 5rem;
}

.image .paper{
  width: 3.5rem;
}

/*Details Styling*/

.bottomrow {
  width: 960px;
  margin: auto;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.title{
  background-color: cadetblue;
  width: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.detail {
  width: 35%;
  text-align: left;
  margin: 2.5%
}

.header{
  color: white;
  margin-left: 1.25rem;
}

p {
  padding-top: 1rem;
}

/*Site Footer Styling*/

footer{
  width: 960px;
  margin: auto;
  background-color: azure;
  margin-top: 5rem;
}

footer .sitename{
  padding: 4rem 0px;
}

.sitename .black{
  margin-left: 4rem;
}
